/* ==========================================================================
   FOOTER
   ========================================================================== */

.c-page-footer {
background-color: $color-blue-darkest;

}

.c-page-footer-main {
  background-color: $color-blue-darkest;


  > div {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100%; 
    border-right: 1px solid $color-blue-med;
    border-left: 1px solid $color-blue-med;
    color: #fff;
    .cell:last-of-type {
      padding-left: 30px;
      border-left: 1px solid $color-blue-med;
    }
  }
}

.c-page-footer-lower {
  background-color: $color-blue-darkest;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  border-top: 1px solid $color-blue-med;
  > div {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.c-copywrite {
  font-size: 18px;
}

.c-page-footer-topper {
  border-top: 1px solid $color-blue-med;
  border-bottom: 1px solid $color-blue-med;
  transform: translateZ(1px);
  >div {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid $color-blue-med;
    border-left: 1px solid $color-blue-med;
    position: relative;
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: $color-blue-med;
      position: absolute;
      left: -10px;
      top: 0;
    }
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: $color-blue-med;
      position: absolute;
      right: -10px;
      top: 0;
    }
    
  }
  p {
    margin-bottom: 0;
  }
  a:hover {
    color: #fff;
  }
}

.c-page-footer-spacer {
  height: 60px;
  > div {
    height: 100%;
    border-right: 1px solid $color-blue-med;
    border-left: 1px solid $color-blue-med;
  }
}

.c-page-footer-nav {
  min-height: 60px;
  border-top: 1px solid $color-blue-med;
  border-bottom: 1px solid $color-blue-med;
}

.c-footer-nav-menu {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  min-height: 60px;
    > li {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #fff;
        text-decoration: underline;
        font-size: 18px;
        &:hover {
          text-decoration-color: $color-orange-dark;
        }
      }
    }
  }
