/* ==========================================================================
   A TAG (links) STYLES
   ========================================================================== */

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  transition: $transition-ease;
}
a:hover { 
  filter: brightness(1.4); 
}
a, a:active, a:hover, a:visited { 
  outline: medium none; 
}
a[href^="mailto:"] {
  overflow-wrap: break-word;
}
.editor-content a {
  text-decoration: underline;
}